<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href='./css/style.css'>
    <link rel='icon' href="/img/weather.png">

    <title>404</title>
</head>
<div class="main-content">

    {{>header}}
    <h1>{{errorMessage}}</h1>
</div>
{{>footer}}
</body>

</html>